/** @format */

@import "_links.scss";
@import "_transitions.scss";
@import "_icons.scss";

html,
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
}
* {
  outline: 1px solid red Im !important;
}
